@import '../../styles/typography.scss';

.Input {
  display: flex;
  flex-direction: column;

  &__search {
    box-sizing: border-box;
    border: 1px solid $light;
    border-radius: 20px;
    padding: 15px;
    height: 35px;
    width: 100%;
    &:focus {
      border: none;
    }
    &--valid {
      border: 1px solid red;
    }
  }
}