$secondary:rgb(185, 225, 185);
$secondaryDisabled:#6bcd6e;
$primaryDark: #3a6884;
$primaryDisabled:#6c9fbe;
$primary:#3a6884;
$light:#c8c8c8;
$lightDisabled:#f3f3f3;
$danger:rgb(224, 98, 84);
$bg: rgb(240, 248, 255);
$bgLight: rgb(224, 240, 255);

$purple: #a000a0;
$blue: #0047ab;
$red:rgb(224, 98, 84);
$yellow:#ffb854;
$green:#24751c;
$grey:#6f6f6f;

$fontPrimary: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$fontSizeLarge: 20px;
$fontSizeMedium: 16px;
